<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
</head>
<body>
<h2>Datos ingresados</h2>
<p><strong>Usuario:</strong> <span th:text="${user}"></span></p>
<p><strong>Contraseña:</strong> <span th:text="${password}"></span></p>
<p><strong>Imagen subida:</strong></p>
<img th:src="|data:image/jpeg;base64,${imagenBase64}|" alt="Imagen subida por el usuario" width="250"/>

</body>
</html>
